@model Specter.Web.Areas.Admin.Models.Common.AddressModel
@Html.HiddenFor(model => model.Id)

<div class="form-horizontal">  
    @if (Model.CompanyEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.Company, new { @class="control-label" + (Model.CompanyRequired ? " required" : "") , @for="Company" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.Company, (Model.CompanyRequired ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.Company)
            </div>
        </div>
    }
    <div><hr /></div>
    <div class="control-group">
        @Html.LabelFor(model => model.FirstName, new { @class="control-label required" , @for="FirstName" } )
        <div class="controls">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.LastName, new { @class="control-label required" , @for="LastName" } )
        <div class="controls">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>
    @if (Model.StreetAddressEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.Address1, new { @class="control-label" + (Model.StreetAddressRequired ? " required" : "") , @for="Address1" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.Address1, (Model.StreetAddressRequired ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.Address2, new { @class="control-label" + (Model.StreetAddress2Required ? " required" : "") , @for="Address2" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.Address2, (Model.StreetAddress2Required ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.ZipPostalCode, new { @class="control-label" + (Model.ZipPostalCodeRequired ? " required" : "") , @for="ZipPostalCode" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.ZipPostalCode, (Model.ZipPostalCodeRequired ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.ZipPostalCode)
            </div>
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.City, new { @class="control-label" + (Model.CityRequired ? " required": ""), @for="City" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.City, (Model.CityRequired ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.CountryId, new { @class = "control-label required" , @for = "CountryId" } )
            <div class="controls">
                @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries, new { @class = "dropdown-control", style = "min-width:289px" } )
                @Html.ValidationMessageFor(model => model.CountryId)
            </div>
        </div>
    }
    <div><hr /></div>
    <div class="control-group">
        @Html.LabelFor(model => model.Email, new { @class="control-label required" , @for="Email" } )
        <div class="controls">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    @if (Model.PhoneEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class="control-label" + (Model.PhoneRequired ? " required" : "") , @for="PhoneNumber" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.PhoneNumber, (Model.PhoneRequired ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="control-group">
            @Html.LabelFor(model => model.FaxNumber, new { @class="control-label" + (Model.FaxRequired ? " required" : ""), @for="FaxNumber" } )
            <div class="controls">
                @Html.TextBoxFor(model => model.FaxNumber, (Model.FaxRequired ? null : new { placeholder = "Optional" } ) )
                @Html.ValidationMessageFor(model => model.FaxNumber)
            </div>
        </div>
    }
</div>
